/* Global variables */
:root {
	/* Catppuccin Latte Theme (Light) */
	--gray-0: #eff1f5;
	--gray-50: #e6e9ef;
	--gray-100: #dce0e8;
	--gray-200: #ccd0da;
	--gray-300: #bcc0cc;
	--gray-400: #acb0be;
	--gray-500: #8c94a4;
	--gray-600: #6c7086;
	--gray-700: #585b70;
	--gray-800: #44475a;
	--gray-900: #303446;
	--gray-999: #292c3c;

	--accent-light: #b4befe;
	--accent-regular: #89b4fa;
	--accent-dark: #74c7ec;
	--accent-overlay: hsla(205, 86%, 81%, 0.33);
	--accent-subtle-overlay: var(--accent-overlay);
	--accent-text-over: var(--gray-999);

	--link-color: var(--accent-regular);

	/* Shadows */
	--shadow-sm:
		0px 6px 3px rgba(48, 52, 70, 0.01), 0px 4px 2px rgba(48, 52, 70, 0.01),
		0px 2px 2px rgba(48, 52, 70, 0.02), 0px 0px 1px rgba(48, 52, 70, 0.03);
	--shadow-md:
		0px 28px 11px rgba(48, 52, 70, 0.01), 0px 16px 10px rgba(48, 52, 70, 0.03),
		0px 7px 7px rgba(48, 52, 70, 0.05), 0px 2px 4px rgba(48, 52, 70, 0.06);
	--shadow-lg:
		0px 62px 25px rgba(48, 52, 70, 0.01), 0px 35px 21px rgba(48, 52, 70, 0.05),
		0px 16px 16px rgba(48, 52, 70, 0.1), 0px 4px 9px rgba(48, 52, 70, 0.12);

	/* Text Sizes */
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-md: 1.125rem;
	--text-lg: 1.25rem;
	--text-xl: 1.625rem;
	--text-2xl: 2.125rem;
	--text-3xl: 2.625rem;
	--text-4xl: 3.5rem;
	--text-5xl: 4.5rem;

	/* Fonts */
	--font-system:
		system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	--font-body: "Public Sans", var(--font-system);
	--font-brand: Rubik, var(--font-system);

	/* Transitions */
	--theme-transition: 0.2s ease-in-out;
}

:root.theme-dark {
	/* Catppuccin Mocha Theme (Dark) */
	--gray-0: #1e1e2e;
	--gray-50: #181825;
	--gray-100: #313244;
	--gray-200: #45475a;
	--gray-300: #585b70;
	--gray-400: #6c7086;
	--gray-500: #818596;
	--gray-600: #9ca0b0;
	--gray-700: #bac2de;
	--gray-800: #cdd6f4;
	--gray-900: #e6e9ef;
	--gray-999: #f5e0dc;

	--accent-light: #313244;
	--accent-regular: #89b4fa;
	--accent-dark: #74c7ec;
	--accent-overlay: hsla(205, 86%, 81%, 0.33);
	--accent-subtle-overlay: hsla(205, 86%, 81%, 0.33);
	--accent-text-over: var(--gray-999);

	--link-color: var(--accent-dark);

	--shadow-sm:
		0px 6px 3px rgba(30, 30, 46, 0.01), 0px 4px 2px rgba(30, 30, 46, 0.01),
		0px 2px 2px rgba(30, 30, 46, 0.02), 0px 0px 1px rgba(30, 30, 46, 0.03);
	--shadow-md:
		0px 28px 11px rgba(30, 30, 46, 0.01), 0px 16px 10px rgba(30, 30, 46, 0.03),
		0px 7px 7px rgba(30, 30, 46, 0.05), 0px 2px 4px rgba(30, 30, 46, 0.06);
	--shadow-lg:
		0px 62px 25px rgba(30, 30, 46, 0.01), 0px 35px 21px rgba(30, 30, 46, 0.05),
		0px 16px 16px rgba(30, 30, 46, 0.1), 0px 4px 9px rgba(30, 30, 46, 0.12);
}

html,
body {
	min-height: 100%;
	overflow-x: hidden;
}

body {
	background-color: var(--gray-0);
	color: var(--gray-900);
	font-family: var(--font-body);
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.1;
	font-family: var(--font-brand);
	font-weight: 600;
	color: var(--gray-900);
}

h1 {
	font-size: var(--text-5xl);
}

h2 {
	font-size: var(--text-4xl);
}

h3 {
	font-size: var(--text-3xl);
}

h4 {
	font-size: var(--text-2xl);
}

h5 {
	font-size: var(--text-xl);
}

/* Utilities */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.wrapper {
	width: 100%;
	max-width: 83rem;
	margin-inline: auto;
	padding-inline: 1.5rem;
}

.stack {
	display: flex;
	flex-direction: column;
}

.gap-2 {
	gap: 0.5rem;
}
.gap-4 {
	gap: 1rem;
}
.gap-8 {
	gap: 2rem;
}
.gap-10 {
	gap: 2.5rem;
}
.gap-15 {
	gap: 3.75rem;
}
.gap-20 {
	gap: 5rem;
}
.gap-30 {
	gap: 7.5rem;
}
.gap-48 {
	gap: 12rem;
}

@media (min-width: 50em) {
	.lg\:gap-2 {
		gap: 0.5rem;
	}
	.lg\:gap-4 {
		gap: 1rem;
	}
	.lg\:gap-8 {
		gap: 2rem;
	}
	.lg\:gap-10 {
		gap: 2.5rem;
	}
	.lg\:gap-15 {
		gap: 3.75rem;
	}
	.lg\:gap-20 {
		gap: 5rem;
	}
	.lg\:gap-30 {
		gap: 7.5rem;
	}
	.lg\:gap-48 {
		gap: 12rem;
	}
}
